<div class="authorization-layout">
  <div id="registration-modal-form">
    <div class="ui-common-form">
      <div class="ui-common-authorization-header">
        <div class="ui-common-company-logo">
          <img src="/assets/img/LogoR.png" alt="">
        </div>
        <div class="form-header-title">СОЗДАЙТЕ АККАУНТ</div>
      </div>
      <div class="ui-common-form-body">
        <form action="" class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="ФИО" type="text">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="E-mail" type="email">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Телефон" type="phone">
          </mat-form-field>
          <div class="form-button-block">
            <button mat-raised-button class="button-primary">Регистрация</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
