<div class="authorization-layout">
  <div id="login-modal-form">
    <div class="ui-common-form">
      <div class="ui-common-authorization-header">
        <div class="ui-common-company-logo">
          <img src="/assets/img/LogoR.png" alt="">
        </div>
        <div class="form-header-title">ВОЙДИТЕ В СВОЙ АККАУНТ</div>
      </div>
      <div class="ui-common-form-body">
        <form class="example-form">

          <!-- Поле введення E-mail -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="E-mail" type="email">
          </mat-form-field>

          <!-- Поле введення пароля -->
          <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Пароль">
          </mat-form-field>

          <div class="form-button-block">
            <button mat-raised-button class="button-primary">Войти</button>
            <a mat-raised-button routerLink="registration" class="button-success">Регистрация</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
